<hr>
<div class="row">
  <div class="jumbotron">
        <h4 class="text-center"> Company Details</h4>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Password</th>
                <th>Email</th>
            </tr>
            <tr>
                <td>{{company.getId}}</td>
                <td>{{company.getCompName}}</td>
                <td>{{company.getPassword}}</td>
                <td>{{company.getEmail}}</td>
            </tr>
        </table>
  </div>
</div>

