<body>
  <div class="container">
    <nav class="navbar navbar-light" style="background-color: #284b65; ">
      <a class="navbar-brand">
        <div class="dropdown">
          <a class="btn btn-primary dropdown-toggle" href="" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Options
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li>
              <a class="dropdown-item" href="#" routerLink="/purchasecoupon">Purchase A Coupon</a>
            </li>
            <li>
              <a class="dropdown-item" href="#" routerLink="/getallpurchasedcoupons">View Your Coupons</a>
            </li>
          </ul>
        </div>
      </a>
    </nav>
    <h1 class="text-center">Welcome {{customer.getCustName}}
      <br> Choose your action from the actions above
    </h1>
    <router-outlet></router-outlet>
  </div>
</body>

<div class="myFooter">
  CouponSystem
  <br> &copy; 2018
</div>
